[Unit]
Description=Rover Docker
Requires=docker.service cansetup.service
After=docker.service cansetup.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start rover2

[Install]
WantedBy=default.target
