<?xml version="1.0"?>
<!-- <robot name="rover_arm"> -->
<robot name="rover_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rover_arm" params="parent *origin name:=rover_arm" >
    <!--DEFINING ROBOT LINKS IN ORDER FROM BASE TO HAND-->
    <link name="${name}_base_link">
      <visual>
        <origin rpy="0 0 -1.5708" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/dae_files/base_link.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 -1.5708" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/stl_files/base_link.stl"/>
        </geometry>
      </collision>
    </link>

    <!-- <link name="rover_base_origin">
      <visual>
        <origin rpy="0 0 1.5708" xyz="0.26035 0 0"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/stl_files/rover_body.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 1.5708" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/stl_files/rover_body.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link> -->

    
    <link name="${name}_shoulder">
      <visual>
        <origin rpy="0 0 0" xyz="-0.043 -0.056 0"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/dae_files/arm_link_0.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="-0.043 -0.056 0"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/stl_files/arm_link_0.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <link name="${name}_elbow_pitch">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/dae_files/arm_link_1.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/stl_files/arm_link_1.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <link name="${name}_elbow_roll">
      <visual>
        <origin rpy="0 0 0" xyz="0.063 0.000654 -0.040895"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/dae_files/arm_link_2.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0.063 0.000654 -0.040895"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/stl_files/arm_link_2.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <link name="${name}_wrist_pitch">
      <visual>
        <origin rpy="0 0 0" xyz="0 0 -0.0086"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/dae_files/arm_link_3.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 -0.0086"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/stl_files/arm_link_3.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <link name="${name}_wrist_roll">
      <visual>
        <origin rpy="0 0 1.57079632679" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/dae_files/arm_link_4.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 1.57079632679" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/stl_files/arm_link_4.stl"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <link name="${name}_gripper">
      <visual>
        <origin rpy="0 0 0" xyz="-0.038106 0.015875 0.14921"/>
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/dae_files/arm_gripper.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="1.57079632679 0 0" xyz="0 0 0"/> <!-- (-0.038106 0.015875 0.14921) 2021 old gripper-->
        <geometry>
          <mesh filename="package://rover_arm_urdf/urdf/stl_files/arm_1819_gripper.stl" scale="0.001 0.001 0.001"/> <!--Get rid of scale for 2021 old griper-->
        </geometry>
      </collision>
      <inertial>
        <mass value="1"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>

    <link name="${name}_jaws_link">
      <visual> 
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <cylinder radius="0.005" length="0.01"/>
        </geometry>
      </visual>
    </link>



    <joint name="${name}_body_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_base_link"/>
      <!-- xyz = "-0.084615+0.26035, 0, 0.03175" original, xyz="0.175735 0 0.03175"fixed -->
      <xacro:insert_block name="origin" />
    </joint>
    
    <joint name="${name}_base_joint" type="revolute">
      <parent link="${name}_base_link"/>
      <child link="${name}_shoulder"/>
      <origin rpy="0 0 -1.5708" xyz="0.055 0 0.087245"/>
      <axis xyz="0 0 -1"/>
      <limit effort="1000.0" lower="-1.57079632679" upper="1.57079632679" velocity="5.5"/>
    </joint>

    <joint name="${name}_shoulder_joint" type="revolute">
      <parent link="${name}_shoulder"/>
      <child link="${name}_elbow_pitch"/>
      <origin rpy="0 0 3.14159" xyz="0 0 0.151443"/>
      <axis xyz="-1 0 0"/>
      <limit effort="1000.0" lower="-1.57079632679" upper="1.57079632679" velocity="3.5"/>
    </joint>

    <joint name="${name}_elbow_pitch_joint" type="revolute">
      <parent link="${name}_elbow_pitch"/>
      <child link="${name}_elbow_roll"/>
      <origin rpy="0 0 0" xyz="0.05925 0 0.501983"/>
      <axis xyz="-1 0 0"/>

      <limit effort="1000.0" lower="-3.1415926" upper="3.1415926" velocity="5.6"/>

    </joint>

    <joint name="${name}_elbow_roll_joint" type="revolute">
      <parent link="${name}_elbow_roll"/>
      <child link="${name}_wrist_pitch"/>
      <origin rpy="0 0 0" xyz="0.063 0.000654 0.059505"/>
      <axis xyz="0 0 -1"/>
      <limit effort="1000.0" lower="-3.141592653589793" upper="3.141592653589793" velocity="18.5"/>
    </joint>

    <joint name="${name}_wrist_pitch_joint" type="revolute">
      <parent link="${name}_wrist_pitch"/>
      <child link="${name}_wrist_roll"/>
      <origin rpy="0 0 0" xyz="-0.065 0 0.3318"/>
      <axis xyz="-1 0 0"/>
      <limit effort="1000.0" lower="-1.57079632679" upper="3.141592653589793" velocity="5.9"/>
    </joint>

    <joint name="${name}_wrist_roll_joint" type="continuous">
      <parent link="${name}_wrist_roll"/>
      <child link="${name}_gripper"/>
      <origin rpy="0 0 0" xyz="-0.050 0 0.050484"/>
      <axis xyz="0 0 1"/>
      <limit effort="1000.0" velocity="22.0"/>
    </joint>

    <joint name="${name}_gripper_jaws" type="fixed">
      <parent link = "${name}_gripper"/>
      <child link = "${name}_jaws_link"/> 
      <origin rpy="0 0 0" xyz="0 0 0.23"/>
    </joint>
  </xacro:macro>
</robot>
