<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rover">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="ros2_control_hardware_type" default="main" />
    <xacro:arg name="drive_initial_positions_file" default="$(find rover_urdf)/ros2_control/initial_positions.yaml" />
    <xacro:arg name="attachment" default="arm" />
    <xacro:arg name="ros2_control_config_path" default="$(find rover2_control)/config/rover_drive.yaml" />

    <xacro:property name="hardware_type" value="$(arg ros2_control_hardware_type)"/>
    <xacro:property name="front_attachment" value = "$(arg attachment)"/>
    <!-- Import rover urdf file -->
    <xacro:include filename="$(find rover_urdf)/urdf/rover2_urdf.xacro" />

    <xacro:rover name="rover" attachment="$(arg attachment)" hardware_type="$(arg ros2_control_hardware_type)"/>

    <!-- Import control_xacro -->
    <xacro:include filename="rover.ros2_control.xacro" />

    <xacro:include filename="$(find rover_urdf)/ros2_control/rover_body.ros2_control.xacro" />

    <!-- Include rover arm ros2_control -->
    <xacro:if value="${front_attachment == 'arm'}">
        <xacro:rover_ros2_control name="rover_arm" initial_positions_file="$(arg initial_positions_file)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>
    </xacro:if>

    <xacro:if value="${front_attachment == 'northrop_arm'}">
        <xacro:rover_ros2_control name="rover_arm" initial_positions_file="$(arg initial_positions_file)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)" attachment="northrop_arm"/>
    </xacro:if>
    <!-- Include rover drive ros2_control -->
    <xacro:rover_body_ros2_control name="rover_drive" initial_positions_file="$(arg drive_initial_positions_file)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)" controller_config_path="$(arg ros2_control_config_path)"/>
</robot>
