@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import '../node_modules/modern-normalize/modern-normalize.css';

div{
  background-color: #191c1d;
 
  outline-style: solid;
  
  
    background-size:10px 100%;
    background-position:0 0, 100% 0%;
    background-repeat:no-repeat;
}
body{
  color:#191c1d 
}
h1{
  color:#D73F09
}
label{
  color: #D73F09
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}


.main {
  width: 100%;
  height: 100vh;
  display: flex;
  
}
.rightScreen{
  width: 50%;
  height: 100vh;
  
}
.leftScreen{
  flex-grow: 1;
  height: 100vh;
  
}
.status{
  width:100%;
  height:20%;
  background-color: #323536;
}
.frontMountManager{
  
  background-color: #323536; 
}
.mining{
  width: 100%;
  height:50%;
  background-color: #323536; 
}
.arm{
  background-color: #323536; 
}
.wireframeWidget{
  position:relative;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  float:left
  
}
.jointInformation{
  width: 200px;
  height: 300px;
  float:left
}
.armCameraFeed{
  width: 300px;
  height: 300px;
  float:left
}

.line {
  margin: 0;
  position:absolute;
  border-top:2px solid green;
  height: 0px;
  width:0px;
  
  
  
}

.dot {
  filter: brightness(1);
  margin: 0;
  position: absolute;
  background-color: orange;
  border: 3px solid rgb(9, 194, 9);
  border-radius: 30px;
  height:30px;
  width:30px;
}

.control{
  width:100%;
  height:30%;
  
  background-color: #323536;
}

.videoManager{
  
  width: 100%;
  height:100%;
  
  background-color: #323536;
  
}


.light {
  width: 100px;
  height: 50px;
  text-align: center;
  pointer-events:none;
  background: red;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.driveOutput {
  width: 0;
  height: 30px;
  
  text-align: center;
  line-height: 30px;
  color: white;
  border-radius: 15px;
  

  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.horizontal-slider .example-track {
  top: 30px;
  height: 10px;
}
.example-track.example-track-0 {
  background: rgb(0, 0, 255);
}
.example-track.example-track-1 {
  background: rgb(255, 0, 0);
}

.horizontal-slider .example-thumb {
  top: 1px;
  width: 45px;
  height: 70px;
  line-height: 58px;
}
.example-thumb {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid gray;
  box-sizing: border-box;
}
.controlButton{
  width: 200px;
  height: 30px;
}